/* These two help a bit with the modal windows shifting background contents to the left */
html { 
    overflow-y: scroll; 
}
body.modal-open {
    margin-right: 0 !important;
    padding-right: 8px !important;
}