/* These two help a bit with the modal windows shifting background contents to the left */
html {
    overflow-y: scroll;
}
body.modal-open {
    margin-right: 0 !important;
    padding-right: 8px !important;
}

/* News */
.gray-comment-row {
    background-color: #919191 !important;
}

.alternate-comment-row {
    background-color: #c4d7df !important;
}

/* Photos upload */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
